@import url('https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


.headerH1 {
  font-family: 'Yuji Boku', serif;
  color: #F05945;
  font-size: 50px;
}

span {
  font-size: 70px;
}

.headerH4 {
  font-family: 'Permanent Marker', cursive;
}

.container {
  text-align: center;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.destinationCard {
  width: 30%;
  margin: 10px;
}

.destinationCard img{
  box-shadow: 2px 2px 8px black;
  transition: all 0.5s;
}

.destinationCard img:hover {
  box-shadow: 1px 2px 18px rgb(0, 0, 0);
  transform: skewY(1deg);
  cursor: pointer;
}