@import url('https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


/*************************** Landing Page ****************/

.headerH1 {
  font-family: 'Yuji Boku', serif;
  color: #F05945;
  font-size: 50px;
}

span {
  font-size: 70px;
}

.headerH4 {
  font-family: 'Permanent Marker', cursive;
}

.container {
  text-align: center;
}

/*************************** Search list ****************/
.searchList {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90vh;
  margin: 5% auto;
  background-color: orange;
  text-align: center;
  padding: 5%;
  font-family: 'Permanent Marker', cursive;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  /* background-color:#6c4601 ; */
  
}

/*************************** Search list ****************/


.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.destinationCard {
  width: 30%;
  margin: 10px;
}

.destinationCard img{
  box-shadow: 2px 2px 8px black;
  transition: all 0.5s;
}

.destinationCard img:hover {
  box-shadow: 1px 2px 18px rgb(0, 0, 0);
  transform: skewY(1deg);
  cursor: pointer;
}