.container {
  text-align: center;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.destinationCard {
  width: 30%;
  margin: 10px;
}

.destinationCard img{
  box-shadow: 2px 2px 18px black;
  transition: all 0.5s;
}

.destinationCard img:hover {
  box-shadow: 2px 2px 18px rgb(255, 115, 0);
  cursor: pointer;
}