.container {
    text-align: center;
  }
  
  .flexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .destinationCard {
    width: 30%;
    margin: 10px;
  }
  
  .destinationCard img{
    box-shadow: 2px 2px 8px black;
    transition: all 0.5s;
  }
  
  .destinationCard img:hover {
    box-shadow: 1px 2px 18px rgb(0, 0, 0);
    transform: skewY(1deg);
    cursor: pointer;
  }