:root{
  --primary-color: orange;
}

nav{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
  
  }

.navElement{
    color: var(--primary-color) !important;
  }

